<div class="container">

  <div class="container-payment-methods">
    <div class="payment-methods">
      <img src="assets/svg/payments/visa-logo.svg" alt="visa logo" />
      <img src="assets/svg/payments/mastercard-logo.svg" alt="mastercard logo" />
      <img
        src="assets/svg/payments/american-express-logo.svg"
        alt="american express logo"
      />
      <img src="assets/svg/payments/skrill-logo.svg" alt="skrill logo" />
      <img class="crypto-coin" src="assets/svg/payments/bitcoin-cash-logo.svg" alt="bitcoin cash logo" />
      <img class="crypto-coin" src="assets/svg/payments/ethereum-logo.svg" alt="bitcoin cash logo" />
      <img class="crypto-coin" src="assets/svg/payments/bitcoin-logo.svg" alt="bitcoin logo" />
      <img class="crypto-coin" src="assets/svg/payments/litecoin-logo.svg" alt="litecoin logo" />
      <p style="margin-left: 10px;"> and 50+ more</p>
    </div>
  </div>

  <div class="container-company">
    <div class="company">
      <a href="#">
        <img class="social-media" src="assets/svg/socials/facebook-logo.svg" alt="facebook logo"/>
      </a>
      <a href="#">
        <img class="social-media" src="assets/svg/socials/instagram-logo.svg" alt="instagram logo" />
      </a>
      <a href="#">
        <img class="social-media" src="assets/svg/socials/twitter-logo.svg" alt="twitter logo" />
      </a>
      <a href="#" style="width: 44px;">
        <img class="social-media-discord" src="assets/svg/socials/discord-logo.svg" alt="twitter logo" />
      </a>

      <hr>

      <div class="flex-container">
        <div>
          <img src="assets/svg/chicks-logo.svg" alt="logo">
          <p style="margin: 10px 0px !important;">support&#64;chicksgold.com</p>
        </div>
        <div>
          <h4>Chicks Gold</h4>
          <p><a href="#">Games</a></p>
          <p><a href="#">About Us</a></p>
          <p><a href="#">Blog</a></p>
          <p><a href="#">Sitemap</a></p>
        </div>
        <div>
          <h4>Support</h4>
          <p><a href="#">Contact Us</a></p>
          <p><a href="#">FAQ</a></p>
        </div>
        <div>
          <h4>Legal</h4>
          <p><a href="#">Privacy</a></p>
          <p><a href="#">Terms of Service</a></p>
          <p><a href="#">Blog</a></p>
          <p><a href="#">Copyright Policy</a></p>
        </div>
        <div class="trustpilot-stars">
          <img src="assets/svg/stars-5.svg" alt="5 stars">
          <p>Trustpilot Reviews</p>
        </div>
      </div>

      <div class="copyright">
        <p>&copy; 2017 - 2020 Chicksgold.com. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
