<div class="container">
  <h1>Condimentum consectetur</h1>
  <div class="search-container">
    <div class="col-1">
      <div class="search-select">
        <div class="left-side">
          <img src="assets/svg/sword-icon.svg" alt="sword icon" />
        </div>
        <div class="right-side">
          <select name="game" id="game">
            <option value="" disabled selected>Select a game</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-2">
      <input
        class="search-bar"
        type="search"
        name="search"
        id="search"
        placeholder="Search"
      />

      <div class="search-select">
        <div class="left-side">
          <img src="assets/svg/item-bag.svg" alt="item bag" />
        </div>
        <div class="right-side">
          <p>Price</p>
          <select name="price" id="price">
            <option value="">All</option>
          </select>
        </div>
      </div>

      <div class="search-select">
        <div class="left-side">
          <img src="assets/svg/feather-icon.svg" alt="feather icon" />
        </div>
        <div class="right-side">
          <p>Item Type</p>
          <select name="item-type" id="item-type">
            <option value="">All</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
