<div class="background-container">
  <div class="overlay"></div>
  <div class="body-container">
    <app-search-bar></app-search-bar>

    <div class="items-container">
      <div class="sort-container">
        <div>
          <p>Showing 20 - from 125</p>
        </div>

        <div class="search-select">
          <div class="left-side">
            <img src="assets/svg/filter.svg" alt="item bag" />
          </div>
          <div class="right-side">
            <p>Sort By</p>
            <select name="filter" id="filter">
              <option value="">Featured</option>
            </select>
          </div>
        </div>
      </div>

      <div class="card-container">
        <ng-container *ngFor="let card of itemList">
          <app-card-item [item]="card"></app-card-item>
        </ng-container>
      </div>

      <div class="pagination-container">
        <a class="arrow" href="#"> &lt; </a>
        <a href="#"> 1 </a>
        <a href="#"> 2 </a>
        <a href="#"> 3 </a>
        <a href="#"> 4 </a>
        <a href="#"> ... </a>
        <a href="#"> 11 </a>
        <a class="arrow" href="#"> &gt; </a>
      </div>
    </div>
  </div>
</div>
