<div class="background-container">
  <div class="overlay"></div>
  <div class="body-container">
    <app-search-bar></app-search-bar>

    <div class="items-container">

      <div class="sort-container">
        <div>
          <p>Showing 20 - from 125</p>
        </div>

        <div class="search-select">
          <div class="left-side">
            <img src="assets/svg/filter.svg" alt="item bag" />
          </div>
          <div class="right-side">
            <p>Sort By</p>
            <select name="filter" id="filter">
              <option value="">Featured</option>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
